body {
background: #000;
}

.introduccion > label {

float: left;
position: relative;
left: 100px;

}

h{

color: #efb810;
font-size: 100px;
position: relative;
left:40%;
font-family: Serif ;
font-weight: normal;
}


h1{
color: #efb810;
font-size: 100px;
position: relative;
left: 35%;
font-family: Serif ;
font-weight: normal;
}

#botones {

}



.Clasificación a{
  color :#000;
    background-color:#FF0000;
      font-size: 22px;
  text-decoration: none;
  padding: 15px 35px ;
  display: block;
  float: left;
  position:relative;
  top: 200px;
  left:13%;

}

.reglas a{
  color :#000;
    background-color:#FFFF00;
    font-size: 22px;
  text-decoration: none;
  padding: 15px 35px ;
  display: block;
  float: left;
  position:relative;
  top: 200px;
  left: 22%;

}


.ir a{
  color :#000;
    background-color:#01DF01;
      font-size: 22px;
  text-decoration: none;
  padding: 15px 35px ;
  display: block;
  float: left;
  position:relative;
  top: 200px;
  left:32%;

}

.centrado {
  position: relative;
  text-align: center;
}

p{
  position: relative;
  top: 60PX;
  left: 630px;
  right:;
  font-size: 20px;
  color: #ffff
}

label{
  display: block;
  font-size: 20px;
  color:#ffff
}

form {
width:20%;
border: 1px solid #FFF;
margin: 20px;
padding: 20px;
}

.formulario{
  position:relative;
  top:100PX;
  bottom: ;
  right: ;
  left:35% ;

}

.midgeneral{
  display: block;
margin-left: auto;
margin-right: auto;
}

input, textarea      {
margin-bottom: 20px ;
width: 100% ;
padding: 10px ;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


input:focus, textarea:focus {
  border: 2px solid #1668c4;
}



p.1 {
position: relative;
top: 60%
color:blue;
}
